body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

img {
    width: 100%;
}
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  #cart {
    margin-bottom: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .cart-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .cart-item .item-details p {
    margin: 0;
  }
  
  .cart-item .item-actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .cart-item .item-actions .heart-btn {
    color: gray;
  }
  
  .cart-item .item-actions .heart-btn.favorite {
    color: red;
  }
  